.DS_Store
.config/configstore
.config/simple-update-notifier
.config/tmux/plugins
.config/nvim/lazy-lock.json
.wrangler
lean-ctx
gcloud
qBittorrent
SmartSetMasterErgo (Mac)

# pi coding agent
.pi/agent/auth.json
.pi/agent/sessions
.pi/agent/git
.pi/agent/run-history.jsonl
